<!DOCTYPE html>
<html>
<head>
  <title>Search App</title>
</head>
<body ng-app="SearchApp" ng-cloak>

  <div class="main-container">
    <div class="search-container" ng-controller="SearchController">
      <form ng-submit='search(query)'>
        <input class="search-field" type="text" ng-model="query" />
      </form>
      <ul class="search-history">
        <li ng-repeat="entry in recentSearchEntries track by $index">
          <a href="" ng-click="search(entry)" ng-bind="entry"></a>
        </li>
      </ul>
      <div ng-show="isLoading">loading...</div>
    </div>
    <div class="result-container">
      <div class="tags-container" ng-controller="TagsController">
        <ul class="tags-list">
          <li class="tags-item" ng-repeat="item in tags">
            <a href="" ng-click="selectTag(item.name)" ng-bind="item.name"></a>
          </li>
        </ul>
        <div ng-show="isLoading">loading...</div>
      </div>
      <div class="images-container" ng-controller="ImagesController">
        <ul class="images-list">
          <li class="images-item" ng-repeat="item in images">
            <a ng-href="{{item.link}}" target="_blank">
              <img ng-src="{{item.images.thumbnail.url}}">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>

<script src="src/vendor/angular.min.js"></script>
<script src="dist/searchApp.js"></script>

</html>